<mat-sidenav-container>
  <mat-sidenav #drawer fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <!-- BUG: used to fix: https://github.com/angular/components/issues/13983-->
    <div fxLayout="column" fxFlex>
      <mat-toolbar>
        <!-- Button that triggers the navigation menu -->
        <button mat-icon-button (click)="drawer.toggle()" *ngIf="!(isHandset$|async) && drawer.opened">
          <mat-icon>menu</mat-icon>
        </button>
        Menu</mat-toolbar>
      <mat-nav-list fxLayout="column" fxFlex>
        <!-- DASHBOARD -->
        <mat-list-item fxFlex="none" [routerLink]="['dashboard']" routerLinkActive="active">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <a>Dashboard</a>
        </mat-list-item>

        <!-- HISTORICAL -->
        <mat-list-item fxFlex="none" [routerLink]="['historical']" routerLinkActive="active">
          <mat-icon mat-list-icon>history</mat-icon>
          <a>Historical</a>
        </mat-list-item>

        <!-- The divider occupies the remaining of the list, so "About" is at the end -->
        <mat-divider fxFlex="grow"></mat-divider>

        <mat-list-item fxFlex="none" (click)="authenticationService.logout()">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <a>Log out</a>
        </mat-list-item>

        <mat-list-item fxFlex="none" [routerLink]="['account/profile']" routerLinkActive="active">
          <mat-icon mat-list-icon>person</mat-icon>
          <a>Account</a>
        </mat-list-item>

        <mat-list-item fxFlex="none">
          <mat-icon mat-list-icon>brightness_3</mat-icon>
          <mat-slide-toggle color="primary" [checked]="themeService.darkMode$ | async" (change)="setColorMode($event)">
          </mat-slide-toggle>
        </mat-list-item>

        <mat-list-item fxFlex="none" [routerLink]="['about']" routerLinkActive="active">
          <mat-icon mat-list-icon>info_outline</mat-icon>
          <a>About</a>
        </mat-list-item>

      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- TOOLBAR -->
    <mat-toolbar color="primary">
      <!-- Button that triggers the navigation menu -->
      <button mat-icon-button (click)="drawer.toggle()" *ngIf="!drawer.opened">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Brand -->
      <a class="brand-name" [routerLink]="['/']" matTooltip="Home">
        App name
      </a>

      <!-- Spacer -->
      <span fxFlex="auto"></span>

      <!-- Right menu: notification -->
      <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
        <mat-icon matBadge="2" matBadgeColor="accent">notifications</mat-icon>
      </button>
      <mat-menu #notificationMenu="matMenu">
        <a mat-menu-item>
          <span>You have new tasks</span>
        </a>
        <a mat-menu-item>
          <span>You have a new message</span>
        </a>
      </mat-menu>

      <!-- Right menus: user -->
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
        <span fxShow fxHide.xs>
          <!-- {{userName}} -->
        </span>
      </button>

      <mat-menu #userMenu="matMenu">
        <a mat-menu-item [routerLink]="['account/profile']">
          <mat-icon>person</mat-icon>
          <span>Account</span>
        </a>

        <div fxFlex="none" class="mat-menu-item">
          <mat-icon>brightness_3</mat-icon>
          <mat-slide-toggle color="primary" [checked]="themeService.darkMode$ | async" (change)="setColorMode($event)">
          </mat-slide-toggle>
        </div>

        <button mat-menu-item (click)="authenticationService.logout()">
          <mat-icon>exit_to_app</mat-icon>
          Log out
        </button>
      </mat-menu>
    </mat-toolbar>

    <!-- PAGES CONTENT -->
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <router-outlet class="pages-router-outlet" *ngIf="!loading"></router-outlet>
    <!-- See styles css: the router adds the routed component (as a sibling of router-outlet) 
      and flex-layout adds the default layout (row) to it. Styles.css changes the default flex-layout behavior -->
  </mat-sidenav-content>
</mat-sidenav-container>