<mat-sidenav-container>
  <mat-sidenav #drawer fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <!-- BUG: used to fix: https://github.com/angular/components/issues/13983-->
    <div fxLayout="column" fxFlex>
      <mat-toolbar>
        <!-- Button that triggers the navigation menu -->
        <button mat-icon-button (click)="drawer.toggle()" *ngIf="!(isHandset$|async) && drawer.opened">
          <mat-icon>menu</mat-icon>
        </button>
        Menu</mat-toolbar>
      <mat-nav-list fxLayout="column" fxFlex>
        <!-- DASHBOARD -->
        <mat-list-item fxFlex="none" [routerLink]="['dashboard']" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <a>Dashboard</a>
        </mat-list-item>

        <!-- HISTORICAL -->
        <mat-list-item fxFlex="none" [routerLink]="['historical']" routerLinkActive="active">
          <mat-icon mat-list-icon>history</mat-icon>
          <a>Historical</a>
        </mat-list-item>

        <!-- The divider occupies the remaining of the list, so "About" is at the end -->
        <mat-divider fxFlex="auto"></mat-divider>

        <!-- <h3 matSubheader>Settings</h3> -->

      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- TOOLBAR -->
    <mat-toolbar color="primary">
      <!-- Button that triggers the navigation menu -->
      <button mat-icon-button (click)="drawer.toggle()" *ngIf="!drawer.opened">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Brand -->
      <a class="brand-name" [routerLink]="['/']" matTooltip="Home">
        App name
      </a>

      <!-- Spacer -->
      <span fxFlex="auto"></span>

      <!-- Right menu -->
      <a mat-icon-button [routerLink]="['dashboard']" matTooltip="Gap">
        <mat-icon>dashboard</mat-icon>
      </a>

    </mat-toolbar>

    <!-- PAGES CONTENT -->
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <router-outlet class="pages-router-outlet" *ngIf="!loading"></router-outlet>
    <!-- See styles css: the router adds the routed component (as a sibling of router-outlet) 
      and flex-layout adds the default layout (row) to it. Styles.css changes the default flex-layout behavior -->
  </mat-sidenav-content>
</mat-sidenav-container>