mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 200px;
  // Toolbar inside nav menu, used so we have the same size as primary toolbar
  mat-toolbar {
    background: inherit;
  }
}

mat-sidenav-content {
  // Primary toolbar
  mat-toolbar {
    position: -webkit-sticky; //Safary
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.brand-name {
  text-decoration: none;
  color: white;
}

// Selected navigation element behavior
mat-nav-list mat-list-item.active {
  border-right: 4px solid var(--primary);
  color: var(--primary);
}
