<div fxFlexAlign="stretch" class="page-container" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">

  <mat-card fxFlex="50%" fxLayout="column">
    <mat-card-header fxFlex="initial">
      <mat-card-title>
        <button mat-button (click)="resizeChart()">Resize</button>
        Text</mat-card-title>
      <!-- <mat-card-subtitle>Nothing, testing layout superposition</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content fxFlex fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="7px">

      <div fxFlex [theme]="(themeService.darkMode$ | async)?'dark':'undefined'" echarts [options]="chartOption"
        class="demo-chart" (chartInit)="onChartInit($event)"></div>
      <div fxFlex [theme]="(themeService.darkMode$ | async)?'dark':'light'" echarts [options]="chartOption"
        class="demo-chart" (chartInit)="onChartInit($event)"></div>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="50%" fxLayout="column">
    <mat-card-content fxFlex fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="7px">

      <div fxFlex fxLayout="row" [theme]="(themeService.darkMode$ | async)?'dark':'undefined'" echarts [options]="chartOption"
        class="demo-chart"></div>
      <div fxFlex fxLayout="row" [theme]="(themeService.darkMode$ | async)?'dark':'light'" echarts [options]="chartOption"
        class="demo-chart"></div>
    </mat-card-content>
  </mat-card>
</div>