
<div fxLayout="column" fxLayoutAlign="center center">

  <h2 fxFlexAlign="center">Welcome back</h2>

  <div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <mat-icon fxFlex>dashboard</mat-icon>
    <p fxFlex>This is the dashboard.</p>

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{greeting.id}}</mat-card-title>
        <mat-card-subtitle>Nothing</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{greeting.content}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>