<!-- https://echarts.apache.org/en/cheat-sheet.html -->

<div fxFlex fxLayout="column" fxLayoutGap="7px" style="background-color: cornflowerblue;">
  <!--   <div fxFlex="50%" fxLayout="row" fxLayoutGap="1px" style="background-color: fuchsia;">
    <div fxFlex="50%" class="dark" leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)"
      [leafletLayersControl]="layersControl" style="background-color: chocolate;"></div>
    <div fxFlex="50%" [theme]="(themeService.darkMode$ | async)?'dark':'undefined'" echarts [options]="chartOption"
      [initOpts]="chartInitOpts" (chartInit)="onChartInit($event)" style="background-color: chocolate;">
    </div>
  </div> -->
  <div fxFlex fxLayout="row" fxLayoutGap="1px" style="background-color: fuchsia;">
    <!-- <div fxFlex="50%" style="background-color: chocolate;"></div>
    <div fxFlex="50%" style="background-color: chocolate;"></div> -->
    <div fxFlex="50%" echarts [options]="chartOption"
      [initOpts]="chartInitOpts" (chartInit)="onChartInit($event)" style="background-color: chocolate;">
    </div>
    <div fxFlex="50%" echarts [options]="chartOption"
      [initOpts]="chartInitOpts" (chartInit)="onChartInit($event)" style="background-color: chocolate;">
    </div>
  </div>
</div>